/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hwb(0 2% 66%);
    }  
  .calculator {
    border: 1px solid hwb(160 13% 15%);
    width: 500px;
    text-align: center;
    padding: 10px;
  }
  .number {
    background-color: #4123ef; /* Cor de fundo azul */
    color: hsl(0, 0%, 3%); /* Cor do texto branca */
  }
  
  #display {
    width: 100%;
    padding: 5px;
    font-size: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
    button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }